[submodule "vendors/grasshopper"]
	path = vendors/grasshopper
	url = git://github.com/tuxychandru/grasshopper.git
[submodule "vendors/eyes"]
	path = vendors/eyes
	url = git://github.com/cloudhead/eyes.js.git
[submodule "vendors/nodetk"]
	path = vendors/nodetk
	url = git://github.com/AF83/nodetk.git
[submodule "vendors/rest-mongo"]
	path = vendors/rest-mongo
	url = git://github.com/AF83/rest-mongo.git
[submodule "vendors/node-formidable"]
	path = vendors/node-formidable
	url = git://github.com/felixge/node-formidable.git
[submodule "vendors/jquery.mustache"]
	path = vendors/jquery.mustache
	url = git://github.com/AF83/jquery.mustache.git
