<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>You are about to signin to auth_server:</p>
    <form action="/login" method="post">
      <input type="hidden" name="next" value="<%= next %>" />
      <label>Email:
        <input type="text" name="email" value="pruyssen@af83.com" />
      </label>
      <br />

      <label>Password:
        <input type="password" name="password" value="1234" />
      </label>
      <br />

      <input type="submit" value="Sign in" />
    </form>
  </body>
</html>

