/*
STUDIO 980 STYLESHEET
A SKYROCKET LABS FREE XHTML/CSS TEMPLATE
http://www.skyrocketlabs.com
fred@skyrocketlabs.com
*/

/* ARCHITECURE */

body {
  font-family: arial,verdana,tahoma,helvetica,sans-serif;
  font-size: 85%;
  color: #777;
  margin: 0;
  padding: 0;
  background: #e7e7e7;
}

a {
  color: #777;
}

#wrapper {
  /*width: 920px;
  min-height: 1000px;*/
  margin: 30px auto 0 auto;
  padding: 30px;
  background: #fff;
  border: 1px solid #ccc;
  /*overflow: hidden;*/
}

#logo {
  float: left;
  width: 400px;
  /*height: 100px;*/
}

#nav {
  /*float: right;*/
  width: 520px;
  /*height: 100px;*/
}

#overview {
  width: 920px;
  padding: 40px 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  clear: both;
}

.left {
  float: left;
  width: 440px;
  margin: 0 20px 0 0;
}

.right {
  float: right;
  width: 440px;
  margin: 0 0 0 20px;
}

#footer {
  width: 980px;
  height: 60px;
  margin: 0 auto;
  clear: both;
}

/* NAVIGATION */

#nav ul {
  float: right;
  /*margin: 30px 0 0 0;*/
  padding: 0;
  list-style: none;
}

#nav li {
  float: left;
  display: inline;
  font-size: 1.0em;
  color: #bbb;
  margin: 0 0 0 16px;
  padding: 0;
}

#nav li a,
#wrapper a.signout {
  color: #111;
  text-decoration: none;
  padding: 7px 9px;
  background: #fff;
}

#nav li a:hover,
#wrapper a.signout:hover {
  color: #fff;
  text-decoration: none;
  background: #111;
}

#wrapper a.signout {
  position: absolute;
  top: 15px;
  right: 15px;
}

#footer ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer li {
  float: left;
  display: inline;
  font-size: 0.9em;
  line-height: 60px;
  color: #999;
  margin: 0 16px 0 0;
  padding: 0;
}

#footer li a {
  color: #999;
  text-decoration: underline;
}

#footer li a:hover {
  color: #111;
  text-decoration: underline;
}

/* TYPOGRAPHY */

#wrapper h1 {
  font-size: 2.8em;
  font-weight: normal;
  line-height: 1.1em;
  letter-spacing: -2px;
  color: #bbb;
  margin: 0;
  padding: 0;
}

#wrapper h1 a, #wrapper h3 a {
  color: #111;
  text-decoration: none;
}

#wrapper h1 a:hover, #wrapper h3 a:hover {
  color: #fff;
  text-decoration: none;
  background: #111;
}

#wrapper h3 {
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.0em;
  letter-spacing: -1px;
  color: #111;
  margin: 48px 0 18px 0;
  padding: 0 0 12px 0;
  border-bottom: 1px solid #e0e0e0;
}

#wrapper p {
  font-size: 1.0em;
  line-height: 1.5em;
  margin: 0 0 24px 0;
}

#main p a, #main li a {
  color: #111;
  text-decoration: underline;
}

#main p a:hover, #main li a:hover {
  color: #999;
  text-decoration: underline;
}

#main p a.btn {
  color: #fff;
  text-decoration: none;
  padding: 7px 9px;
  background: #111;
}

#main p a:hover.btn {
  color: #fff;
  text-decoration: none;
  padding: 7px 9px;
  background: #aaa;
}

#main ul {
  margin: 0 0 0 14px;
  padding: 0;
  list-style: square;
}

#main li {
  font-size: 1.0em;
  line-height: 1.5em;
  margin: 0;
  padding: 6px 0;
}

br.clearit {
  clear: both;
}

/* IMAGES */

.left img, .right img {
  margin: 0 0 20px 0;
  border: 0;
}

#logo img {
  border: 0;
}

/* FORMS */

form,fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label {
  /*display: block;*/
  font-family: arial,verdana,tahoma,helvetica,sans-serif;
  font-size: 1.0em;
  margin: 0 0 5px 0;
}

input.field, textarea.field, select.field {
  /*display: block;*/
  font-family: arial,verdana,tahoma,helvetica,sans-serif;
  font-size: 1.0em;
  color: #111;
  /*margin: 0 0 20px 0;*/
  margin: 5px;
  padding: 7px;
  background: #f5f5f5;
  border: 1px solid #ddd;
}

input.field:focus, textarea.field:focus {
  color: #fff;
  background: #111;
  border: 1px solid #111;
}

input.button {
  font-size: 1.0em;
  color: #111;
  padding: 3px 4px;
}


/* ------ Text fields: -------- */

.text .field {
  height: 100%;
  margin: 0;
  padding: 2px;
  width: 98%;
}

